six
pandas
scipy
scikit-image
scikit_learn
numpy
opencv_python
SimpleITK
joblib
tqdm
openpyxl
matplotlib
seaborn
tensorboardX
torch
pytorch-trainer
monai
wandb
torchsummary
https://github.com/VincentStimper/mclahe/archive/numpy.zip
