torch == 1.8.0
numpy
albumentations
segmentation_models_pytorch
six
pandas
scipy
scikit-image
scikit_learn
numpy
opencv_python
SimpleITK
joblib
tqdm
openpyxl
matplotlib
seaborn
tensorboardX
monai
wandb
torchsummary
https://github.com/VincentStimper/mclahe/archive/numpy.zip
pytorch_lightning == 1.3.8
kornia
natsort